
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Open+Sans:ital,wght@0,600;0,800;1,400;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

.btn-primary{
  border-radius: 8px;
  background: #FF900E;
  width: 180px;
  height: 64px;
  color: #FFF;
  font-size: 1.2rem;
  border: none;
  margin: 20px auto;
}

/* header style----- */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
/* banner style----- */

.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.banner img{
  width: 100%;
  /* height: 100%; */
}
.banner-title{
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
}
.gray-light-description{
  color: #727272;
  font-size: 1rem;
}
/* main style---- */
main{
  /* max-width: 1440px; */
  margin: 0 auto;
  width: 80%;
}

/* teams style----- */
.team-section{
  display: flex;
  align-items: center;
  /* width: 70%; */
  margin: 0 auto;
  padding-top: 80px;
}
.teams-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;

}
.teams-content{
  /* padding-right: 60px; */
  padding-left: 60px;
}
.quick{
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;

}
.our{
  color: #131313;
font-size: 2.8rem;
font-weight: 700;
}
.features{
  color: #FF900E;
  font-size: 2.8rem;
  font-weight: 700;
}

.features-section{
  display: flex;
 width: 100%;
}


/* media query---- */
/* mobile device----- */
@media screen and (max-width:576px) {
    header{
       padding: 20px;
       width: auto;
    }
  nav{
    flex-direction: column-reverse;
  }
  .team-section{
         flex-direction: column;
         /* padding: 70px; */
         /* width: 100%; */
  }
  .teams-img{
    grid-template-columns: 1fr;
  }
}
/* tablet or medium devices--- */
@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 50px;
 }
nav{
 flex-direction: column-reverse;
}
}